<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.star.wlh.mysql.mapper.UserDao">
    <resultMap id="UserDefined" type="com.star.wlh.mysql.entity.UserEntity">
        <id property="userId" column="USER_ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="englishName" column="ENGLISH_NAME"/>
        <result property="loginName" column="LOGIN_NAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="accessKey" column="ACCESS_KEY"/>
        <result property="accessKeySecret" column="ACCESS_KEY_SECRET"/>
    </resultMap>
    <select id="query" resultMap="UserDefined">
        select USER_ID,USER_NAME,ENGLISH_NAME,LOGIN_NAME,PASSWORD,ACCESS_KEY,ACCESS_KEY_SECRET from `USER`;
    </select>
    <insert id="insert" parameterType="com.star.wlh.mysql.entity.UserEntity">
        insert into `USER` values (#{userId},#{userName},#{englishName},#{loginName},#{password},#{accessKey},#{accessKeySecret})
    </insert>

</mapper>
