<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.star.wlh.user.mapper.UserMapper">
    <resultMap id="UserEntity" type="com.star.wlh.user.entity.UserEntity">
        <id property="id" column="USER_ID" javaType="string" jdbcType="VARCHAR"/>
        <result property="username" column="NICK_NAME" javaType="string" jdbcType="VARCHAR"/>
        <result property="password" column="PASSWORD" javaType="string" jdbcType="VARCHAR"/>
		<result property="email" column="Email" javaType="string" jdbcType="VARCHAR"/>
		<result property="gender" column="GENDER"/>
    </resultMap>
    <select id="selectByUserId" resultMap="UserEntity" parameterType="string">
        select user.USER_ID,
               user.NICK_NAME,
               user.REAL_NAME,
               user.LOGIN_NAME,
               user.PASSWORD,
               user.GENDER
        from user
        where user.USER_ID = #{userId,jdbcType=VARCHAR}
    </select>
    <insert id="save" parameterType="com.star.wlh.user.entity.UserEntity">
		<selectKey resultType="int" order="AFTER" keyProperty="user_id">
			select last_insert_id()
		</selectKey>
        insert into `user` (user.USER_ID,
                            user.NICK_NAME,
                            user.REAL_NAME,
                            user.LOGIN_NAME,
                            user.PASSWORD,
                            user.GENDER)
        values (#{userId}, #{nickName}, #{realName}, #{loginName}, #{password}, #{gender})
    </insert>
</mapper>
