<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.wlh.quartz.mapper.QuartzJobMapper">
    <resultMap id="baseMap" type="com.star.wlh.quartz.entity.QuartzJob">
        <id column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="job_group" property="jobGroup"/>
        <result column="job_name" property="jobName"/>
        <result column="trigger_group" property="triggerGroup"/>
        <result column="trigger_name" property="triggerName"/>
        <result column="cron_expression" property="cronExpression"/>
        <result column="parameter" property="parameter"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
    </resultMap>
    <!--定义接口方法对应的 SQL 语句-->
    <select id="query" resultMap="baseMap">
        select id,
               create_by,
               create_time,
               update_by,
               update_time,
               job_group,
               job_name,
               trigger_group,
               trigger_name,
               cron_expression,
               parameter,
               description,
               status
        from quartz_job;
    </select>
    <insert id="insert" parameterType="com.star.wlh.quartz.entity.QuartzJob">
        insert into study.quartz_job(id, create_by, create_time, update_by, update_time, job_group, job_name, trigger_group, trigger_name,
                                     cron_expression, parameter,
                                     description, status)
        values (#{id}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{jobGroup}, #{jobName}, #{triggerGroup}, #{triggerName},
                #{cronExpression}, #{parameter},
                #{description}, #{status});
    </insert>
</mapper>
